.Search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
    width: 100%;
    padding: 4% 0;
    position: fixed;
    bottom: 0%;
    background-color:black;
    color: white;
    opacity: 90%;   
}

.verticalRow{
    border-left: 3px solid gainsboro;
    height: 6em;
}
